body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto Mono', source-code-pro, Menlo, Monaco, Consolas, "Courier New";
  font-size: 40px;
}

input {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  font-size: inherit;
  font-family: inherit;
}
button {
  border: 1px solid black;
  font-size: inherit;
  font-family: inherit;
}

input:active {
  border: none;
  outline: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.atoms {
  font-size: 1rem;
}
